.l-header {
  background-color: var(--color-primary);
  padding: 1rem;
  width: 100%;
  height: 50px;
  display: flex;
}

.l-header-inner {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
}