@use "@globals" as g;

.article-item-cards {
  display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;

  @include g.media('pc') {
    gap: 2vw;
  }

  &__item {
    width: 100%;

    @include g.media('tb') {
      width: calc( (100% - 15px) / 2);
    }

    @include g.media('pc') {
      width: calc( (100% - 4vw) / 3);
    }
  }
}