.embla {
  overflow: hidden;
  &__container {
    display: flex;
      align-items: center;

    // &--vertical {
    //   flex-direction: column;
    // }
  }
  &__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}