@use "@globals" as g;
.hamburger-menu-typeA {
  background-color: var(--color-primary);
  display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  padding: 60px 15px 30px;
  width: 60%;
  height: 100%;

  @include g.media('tb') {
    padding: 90px 15px 45px;
    width: 40%;
  }

  &__item {
    text-align: center;

    &  a {
      color: var(--color-white);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}