@use "@globals" as g;

.mokuji {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  width: 80%;
  margin: 30px auto;

  &__title {
    background: var(--color-primary);
    color: var(--color-white);  
    font-size: 2.4rem;
    padding: 5px 15px;

    @include g.media('tb') {
      font-size: 2.8rem;
    }
  }

  &__list {
    counter-reset: count subcount;
    display: flex;
      flex-direction: column;
      gap: 10px;
    padding: 10px 15px;
  }

  &__item {
    display: inline-block;
    position: relative;
    color: var(--color-black);
    counter-reset: subcount;
    font-weight: 700;
    line-height: 1.6;
    text-indent: -1rem;
    padding-left: 1rem;

    &::after {
      background-color: var(--color-primary);
      content: '';
      transition: all .3s ease-out;
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover {
      transition: all .3s ease-out;
      position: relative;

      & a {
        color: var(--color-primary);
      }

      &::before {
        color: var(--color-primary);
      }

      &::after {
        width: 100%;
      }
    }

    & a {
      color: var(--color-black);
    }

    &--type-h2 {
      font-size: 2rem;
      @include g.media('tb') {
        font-size: 2.4rem;
      }
    }
    &--type-h3 {
      font-size: 1.8rem;
      margin-left: 1em;
      @include g.media('tb') {
        font-size: 2rem;
      }
    }
    &--type-h4 {
      font-size: 1.6rem;
      margin-left: 1.5em;
      @include g.media('tb') {
        font-size: 1.8rem;
      }
    }
    &--type-h5 {
      font-size: 1.6rem;
      margin-left: 2em;
    }
  }
}