.rolling-link {
  display: inline-block;
  overflow: hidden;
  position: relative;

  &:hover {
    & .rolling-link__front {
      transform: translateY(-100%);
    }
    & .rolling-link__back {
      transform: translate(-50%, 0);
      opacity: .6;
    }
  }

  &__front {
    display: block;
    transition: all .5s ease;
    white-space: nowrap;
  }
  &__back {
    display: block;
    transition: all .5s ease;
    transform: translate(-50%, 100%);
    position: absolute;
    top: 0;
    left: 50%;
  }
} 
