@use "@globals" as g;

.article-card-with-thumbnail {
  display: block;

  &:hover {
    & a .article-card-with-thumbnail__thumbnail img {
      transform: scale(1.2);
    }

    & h3 {
      color: var(--color-primary);
    }

  }
  &__thumbnail {
    overflow: hidden;
    margin-bottom: 10px;

    @include g.media('pc') {
      margin-bottom: 15px;
    }
    & img {
      opacity: 1;
      transform: scale(1);
      transition: transform .5s, opacity .6s;
    }
  }

  &__detail {
    color: var(--color-black); 
  }

  &__properties {
    display: flex;
      justify-content: flex-start;
      gap: 1rem;
    margin-bottom: 10px;

    @include g.media('pc') {
      margin-bottom: 15px;
    }
  }

  &__categories {
    display: flex;
      justify-content: flex-start;
      gap: .5em;
  }

  &__date {
    color: var(--color-gray);
  }
}