.col--5p { width: 5%; }
.col--10p { width: 10%; }
.col--15p { width: 15%; }
.col--20p { width: 20%; }
.col--25p { width: 25%; }
.col--30p { width: 30%; }
.col--35p { width: 35%; }
.col--40p { width: 40%; }
.col--45p { width: 45%; }
.col--50p { width: 50%; }
.col--55p { width: 55%; }
.col--60p { width: 60%; }
.col--65p { width: 65%; }
.col--70p { width: 70%; }
.col--75p { width: 75%; }
.col--80p { width: 80%; }
.col--85p { width: 85%; }
.col--90p { width: 90%; }
.col--95p { width: 95%; }
.col--100p { width: 100%; }