@charset 'urt-8';

// ================
// view Size
// ================
$sp: '320px'; // for mobile
$tb: '521px'; // for tablet
$pc: '961px'; // for pc
$wd: '1441px'; // for wide display

// ================
// Break Points
// ================
$breakpoints: (
  'sp': 'screen and (min-width: #{$sp})',  // for mobile
  'tb': 'screen and (min-width: #{$tb})',  // for tablet
  'pc': 'screen and (min-width: #{$pc})',  // for pc
  'wd': 'screen and (min-width: #{$wd})', // for pc with wide display
) !default;