@use "@globals" as g;

.article {
  display: flex;
    justify-content: flex-start;
    flex-direction: column;
  padding: 10px;
    
  @include g.media('tb') {
    flex-direction: row;
    column-gap: 15px;
    padding: 15px;
  }

  &:hover {
    color: var(--color-primary);
  }

  &__title {
    font-weight: 700;
  }
}