@use "@globals" as g;

.simple-combo-title {
  font-weight: 700;
  &__sub {
    font-size: 2.8rem;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    text-transform: uppercase;

    @include g.media('tb') {
      font-size: 3.6rem;
    }
    
  }
  &__main {
    font-size: 1.8rem;
    @include g.media('tb') {
      font-size: 2rem;
    }
  }
}