@use "@globals" as g;

.article-cards-with-thumbnail {
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 50px;

    @include g.media('tb') {
      gap: 50px 15px;
    }
  
    @include g.media('pc') {
      gap: 50px 2vw;
    }

  &__item {
    width: 100%;

    @include g.media('tb') {
      width: calc( (100% - 15px) / 2);
    }

    @include g.media('pc') {
      width: calc( (100% - 4vw) / 3);
    }
  }
}