@use 'sass:math';
@use "sass:map";
@use "./variables/" as *;

@function get_px($value) {
  @return $value * 1px;
}

@function viewwidth($key) {
  @return map-get($viewwidth, $key);
}

@function auto_clamp($fs_min, $width_small, $fs_max, $width_large) {
  $preferred_vw_base: math.div(($fs_max - $fs_min), ($width_large - $width_small));
  $preferred_vw: ($preferred_vw_base * 100) * 1vw;
  $preferred_rem: ($width_small * -1 * $preferred_vw_base + $fs_min) * .1rem;
  @return clamp($fs_min * .1rem, $preferred_rem + $preferred_vw, $fs_max * .1rem);
}

// Example
// body {
//   font-size: auto_clamp(20, 375, 30, 1024);
// }

@function color_scale($color, $lightness) {
  @if $lightness == 0 {
    @return #fff;
  } @else if $lightness == 100 {
    @return #000;
  } @else {
    @return mix(#000, mix(#fff, $color, $lightness * 1%), $lightness * 1%);
  }
}

@function color_saturation($color, $saturation) {
  @if $saturation == 0 {
    @return mix(#fff, #000, lightness($color));
  } @else if $saturation == 100 {
    @return $color;
  } @else {
    $gray: mix(#fff, #000, lightness($color));
    @return mix($gray, $color, $saturation * 1%);
  }
}

@function complementary_color($color) {
  @return adjust-hue($color, 180deg);
}