@use "@globals" as g;

.link-label {
  background: var(--color-primary);
  border-radius: 30px;
  color: var(--color-white);
  display: inline-block;
  padding: 0 15px;
  font-size: 1.4rem;

  &:hover {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary)
  }

  @include g.media('tb') {
    font-size: 1.6rem;
  }
}