.input-phone {
  position: relative;

  &__field {
    border: 1px solid var(--color-black);
    border-radius: 5px;
    padding: 10px;
    width: 100%;

    &::placeholder {
      color: transparent;
    }

    &--active {
      border: 2px solid var(--color-primary);
    }
  }
}